
img{height: 400px; width: auto; background-color: white;}

img{display: inline-block; margin-left: 0; margin-right: 0;}

section{background-color: turquoise;}

body{background-color: lightgrey;}

h2{font-size: 15pt; text-align: center; }

h5{font-size: 12pt; text-align: center;}
li{list-style-type: none;}
